<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<style folder="res">
	<font name="LingonetArial" source="lingonetarial.swf" />
		<image name="background">maininfo.png</image>
		<textformat name="menuformat" fontFamily="Arial" size="16" color="0x000000" bold="false" underline="false" italic="false" align="center" />
		<textformat name="infoformat" fontFamily="Arial" size="16" color="0x990032" bold="false" underline="false" italic="false" align="left" />
		<fx name="fadeIn" type="fade" from="0" to="1" duration="250" />
		<fx name="fadeOut" type="fade" from="1" to="0" duration="250" />
		<fx name="slideOut" type="move" x="-720" y="0" duration="250" />
		<fx name="slideIn" type="move" x="0" y="0" u="-720" v="0" duration="250" />
		<image name="busy-cursor">busy.gif</image>
		<image name="return">return.png</image>
	</style>
	<items showMasks="false" fxIn="slideIn" fxOut="slideOut">
	</items>
</menu>