<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<style folder="res">
	<font name="LingonetArial" source="lingonetarial.swf" />
		<image name="background">mainbg.png</image>
		<textformat name="menuformat" fontFamily="Arial" size="24" color="0x000000" bold="true" underline="false" italic="false" align="center" />
		<textformat name="infoformat" fontFamily="Arial" size="16" color="0x990032" bold="false" underline="false" italic="false" align="left" />
		<fx name="fadeIn" type="fade" from="0" to="1" duration="250" />
		<fx name="fadeOut" type="fade" from="1" to="0" duration="250" />
		<fx name="slideOut" type="move" x="858" y="0" duration="250" />
		<fx name="slideIn" type="move" x="0" y="0" u="858" v="0" duration="250" />
		<image name="busy-cursor">busy.gif</image>
		<image name="return">return.png</image>
		<image name="return2">return2.png</image>
	</style>
	<items showMasks="false" fxIn="slideIn" fxOut="slideOut">
		<item opens="menu" locks="false">
			<dataxml>menu.xml</dataxml>
			<folder>elementary/</folder>
			<position x="0" y="0" />
			<size w="720" h="540" />
			<mask>
				<point x="496" y="256" />
				<point x="657" y="255" />
				<point x="658" y="276" />
				<point x="494" y="276" />
			</mask>
			<buttons>
				<button opens="close">
					<image x="532" y="511">return</image>
				</button>
			</buttons>
		</item>
		<item opens="menu" locks="false">
			<dataxml>menu.xml</dataxml>
			<folder>intermediate/</folder>
			<position x="0" y="0" />
			<size w="720" h="540" />
			<mask>
				<point x="495" y="285" />
				<point x="656" y="285" />
				<point x="657" y="306" />
				<point x="495" y="306" />
			</mask>
			<buttons>
				<button opens="close">
					<image x="532" y="511">return</image>
				</button>
			</buttons>
		</item>
		<item opens="menu" locks="false">
			<dataxml>menu.xml</dataxml>
			<folder>advanced/</folder>
			<position x="0" y="0" />
			<size w="720" h="540" />
			<mask>
				<point x="494" y="314" />
				<point x="657" y="314" />
				<point x="657" y="335" />
				<point x="495" y="335" />
			</mask>
			<buttons>
				<button opens="close">
					<image x="532" y="511">return</image>
				</button>
			</buttons>
		</item>
		<item opens="link">
			<link>res/mareng_plus_glossary.pdf</link>
			<mask>
				<point x="495" y="344" />
				<point x="657" y="344" />
				<point x="657" y="365" />
				<point x="495" y="365" />
			</mask>
		</item>
		<item opens="menu" locks="false">
			<dataxml>menu.xml</dataxml>
			<folder>teachersmanual/</folder>
			<position x="0" y="0" />
			<size w="720" h="540" />
			<mask>
				<point x="495" y="436" />
				<point x="657" y="436" />
				<point x="657" y="457" />
				<point x="495" y="457" />
			</mask>
			<buttons>
				<button opens="close">
					<image x="532" y="511">return</image>
				</button>
			</buttons>
		</item>
		<item opens="menu" locks="false">
			<dataxml>menu.xml</dataxml>
			<folder>info/</folder>
			<position x="0" y="0" />
			<size w="720" h="540" />
			<mask>
				<point x="495" y="466" />
				<point x="657" y="466" />
				<point x="657" y="487" />
				<point x="495" y="487" />
			</mask>
			<buttons>
				<button opens="close">
					<image x="649" y="488">return2</image>
				</button>
			</buttons>
		</item>
		<item opens="link">
			<link>res/acknowledgements.pdf</link>
			<mask>
				<point x="495" y="496" />
				<point x="657" y="496" />
				<point x="657" y="517" />
				<point x="495" y="517" />
			</mask>
		</item>
	</items>
</menu>